Light Scheduler Test:

- Lights are not changed at initialization
- Time is wrong, day is wrong, no lights are changed
- Day is right, time is wrong, no lights are changed
- Day is wrong, time is right, no lights are changed
- Day is right, time is right, the correct light is turned on
- Day is right, time is right, the correct light is turned off
- Schedule everyday
- Schedule a specific day
- Schedule all weekdays
- Schedule weekend days
- Remove scheduled event
- Remove non-existent event
- Multiple scheduled events at the same time
- Multiple scheduled events for the same light
- Remove non-scheduled light schedule
- Schedule the maximum supported number of events
- Schedule too many events

